{% block sw_cms_element_annotationBannerSelection %}
    <div class="sw-cms-element-annotationBannerSelection">
        <div v-if="LayoutTypeValue == 'imageWithText'"
             class="sw-cms-element-annotationBannerSelection-imageWithText-layout">
            {% block sw_cms_el_image_is_cover %}
                <div class="sw-cms-el-image is--cover">
                    <img :src='getMediaImage ? getMediaImage : assetFilter("administration/static/img/cms/preview_mountain_large.jpg")'
                          alt="">
                </div>
            {% endblock %}

            {% block sw_cms_element_annotationBannerSelection_imageWithText__text_content_box %}
                <div class="sw-cms-element-annotationBannerSelection-imageWithText__text_content_box">
                    <div class="sw-cms-element-annotationBannerSelection-imageWithText__text">
                        <div
                                v-if="element.config.annotationBannerText.source === 'mapped'"
                                class="sw-cms-el-text__mapping-preview content-editor"
                                v-html="$sanitize(demoValue)"
                        ></div>
                        <sw-text-editor
                                v-else
                                v-model:value="element.config.annotationBannerText.value"
                                :disabled="disabled"
                                :allow-inline-data-mapping="true"
                                :is-inline-edit="true"
                                sanitize-input
                                enable-transparent-background
                                @blur="onBlur"
                                @input="onInput">

                        </sw-text-editor>
                    </div>
                </div>
            {% endblock %}
        </div>

        <div v-else class="sw-cms-element-annotationBannerSelection-fullWidth-image-layout">
            {% block sw_cms_element_image %}
                <div class="sw-cms-el-image is--cover">
                    {% block sw_cms_element_image_content %}
                        <img :src='getMediaImage ? getMediaImage : assetFilter("administration/static/img/cms/preview_mountain_large.jpg")'>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
