{% block sw_cms_element_annotationBannerSelection_config %}
    <div class="sw-cms-el-config-annotationBannerSelection">
        <h2> {{ $tc('cms-annotation-banner.elements.annotationBannerSelection.config.heading.text') }}</h2>
        {% block sw_cms_element_annotationBannerSelection_config_settings %}
            <div class="sw-cms-el-config-annotationBannerSelection__settings-options">

                {% block sw_cms_element_product_box_config_annotation_banner_select %}
                    <sw-entity-single-select
                            v-model:value="element.config.productAnnotationBanner.value"
                            :label="$tc('cms-annotation-banner.elements.annotationBannerSelection.config.label.annotationBanner')"
                            :placeholder="$tc('cms-annotation-banner.elements.annotationBannerSelection.config.placeholder.annotationBanner')"
                            entity="product_annotation_banner"
                            :criteria="productAnnotationBannerCriteria"
                            show-clearable-button
                            @update:value="onAnnotationBannerChange">
                    </sw-entity-single-select>
                {% endblock %}

                {% block sw_cms_element_annotationBannerSelection_config_settings_layout_block_position %}
                    <sw-select-field-deprecated
                            v-model:value="element.config.LayoutType.value"
                            :label="$tc('cms-annotation-banner.elements.annotationBannerSelection.config.label.blockLayoutPosition')"
                            :placeholder="$tc('cms-annotation-banner.elements.annotationBannerSelection.config.placeholder.blockLayoutPosition')">
                        <option value="fullWidth">
                            {{ $tc('cms-annotation-banner.elements.annotationBannerSelection.config.label.fullWidth') }}
                        </option>
                        <option value="imageWithText">
                            {{ $tc('cms-annotation-banner.elements.annotationBannerSelection.config.label.imageWithText') }}
                        </option>
                    </sw-select-field-deprecated>
                {% endblock %}

                {% block sw_cms_element_annotationBannerSelection_config_settings_annotation_banner_text %}
                    <mt-text-editor
                            v-model="element.config.annotationBannerText.value"
                            :allow-inline-data-mapping="true"
                            sanitize-input
                            enable-transparent-background
                            @input="onInput"
                            @blur="onBlur">
                    </mt-text-editor>
                {% endblock %}

            </div>
        {% endblock %}
    </div>
{% endblock %}
