{% block annotation_banner_list %}
    <sw-page class="annotation-banner-list" v-if="pluginStatus">
        {% block annotation_banner_list_smart_bar_actions %}
            <template #smart-bar-actions>
                <sw-button variant="primary" :routerLink="{name:'annotation.banner.create'}">
                    {{ $tc('annotation_banner.list.create') }}
                </sw-button>
            </template>
        {% endblock %}

        {% block annotation_banner_list_smart_bar_header %}
            <template #smart-bar-header>
                {% block annotation_banner_list_smart_bar_header_title %}
                    <h2>
                        {% block annotation_banner_list_smart_bar_header_title_text %}
                            {{ $tc('annotation_banner.general.title') }}
                        {% endblock %}
                        {% block annotation_banner_list_smart_bar_header_amount %}
                            <span v-if="!isLoading"
                                  class="sw-page__smart-bar-amount">
                                ({{ total }})
                            </span>
                        {% endblock %}
                    </h2>
                {% endblock %}
            </template>
        {% endblock %}

        <template #content>
            {% block annotation_banner_list_tabel_content %}
                <sw-entity-listing
                        v-if="annotationBanner"
                        :items="annotationBanner"
                        :columns="columns"
                        :repository="annotationBannerRepository"
                        :isLoading="isLoading"
                        @update-records="updateTotal"
                        :show-selection="false"
                        detailRoute="annotation.banner.detail">

                    {% block annotation_banner_list_table_image_content %}
                        <template #column-bannerImage="{item}">
                            <sw-media-preview-v2
                                    v-if="item.mediaId"
                                    :source="item.mediaId">
                            </sw-media-preview-v2>
                        </template>
                    {% endblock %}
                </sw-entity-listing>
            {% endblock %}
        </template>
    </sw-page>
{% endblock %}
