<div class="sw-cms-el-ict-shop-the-look">
    <div class="look-preview">
        <img v-if="lookImageUrl" :src="lookImageUrl" style="width:100%;max-width:400px;" />
        <img v-else :src="assetFilter('/administration/administration/static/img/cms/preview_mountain_large.webp')" style="width:100%;max-width:400px;" />
    </div>
</div>
